/* You can add global styles to this file, and also import other style files */
@import 'styles/variables';
@import 'styles/gradients';
@import 'styles/containers';
@import 'styles/buttons';
@import 'styles/forms';

html body * {
  box-sizing: border-box;
  font-family: "Roboto";
  font-weight: 400;
}


