<!--The content below is only a placeholder and can be replaced.-->

  <div class="container-fluid-lg navyGradient">
    <form class="gradient">
      <div>
        <input activeInput>
        <label>Username</label>
      </div>
      <div>
          <input activeInput type="password">
          <label>Password</label>
        </div>
            <button class="btn-secondary">
                Login</button>

        <!-- <div style="display:flex; justify-content: space-around">
          <button class="btn-secondary">
              Login</button>
              <button class="btn-secondary">
                  Login with Google</button>
      </div> -->
    </form>
  </div>

<router-outlet></router-outlet>