.fretboard {
    width: 240px;
}

.fretboard .fret {
    border: 1px solid black;
    width: 3em;
    height: 1em;
}

.fretboard ul {
    width: 240px;
    position: relative;
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.fretboard ul.dot::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    border: 4px solid black;
    height: 10px;
    width: 10px;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.fretboard ul.twodots::before {
    content: "";
    position: absolute;
    border-radius: 50%;
    border: 4px solid black;
    height: 10px;
    width: 10px;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 40%;
    right: 0;
    z-index: 1;
}

.fretboard ul.twodots::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    border: 4px solid black;
    height: 10px;
    width: 10px;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 40%;
    z-index: 1;
}

.fret-row:first-child {
    border-top: 15px solid #898079;
}

.nut-row {
    background-color: #333;
    color: #ddd;
    font-weight: bold;

}

.nut-row li {
    position: relative;
    width: 40px;
    text-align: center;
    padding: 4px;
}

.fret-row {
    border-bottom: 5px solid #898079;
}

.fret-row li {
    position: relative;
    height: 70px;
    width: 40px;
    background-color: #ead6be;
}

.fret-row li::after {
    content: "";
    display: block;
    position: absolute;
    background-color: #bcaeae;
    margin: 0 auto;
    right: 0;
    left: 0;
    width: 6px;
    height: 75px;
    z-index: 2;
}

.fret-row .string1::after {
    width: 6px;
}

.fret-row .string2::after {
    width: 5px;
}

.fret-row .string3::after {
    width: 4px;
}

.fret-row .string4::after {
    width: 3px;
}

.fret-row .string5::after {
    width: 2px;
}

.fret-row .string6::after {
    width: 1px;
}


.fret-row li::before {
    content: "";
}

.fret-row li span {
    position: absolute;
    font-weight: bold;
    border-radius: 50%;
    color: black;
    width: 12px;
    height: 12px;
    line-height: 12px;
    font-size: 12px;
    padding: 5px;
    border: 1px solid #777;
    background-color: #ddd;
    z-index: 1000;
    top:24px;
    left: 8px;
    text-align: center;
}

.fret-row li span.interval1 {
    background-color: #8bc34a4f;
}

.fret-row li span.interval2 {
    background-color: #2196f375;
}

.fret-row li span.interval3 {
    background-color: #f4433669;
}

.fret-row li span.interval5 {
    background-color: #f4433669;
}

.fret-row li span.interval6 {
    background-color: #2196f375;
}
