// Buttons
//
// Button classes can be used on either an a or button element. The primary button class is used on white backgrounds, while the secondary is reserved for any colored or gradient backgrounds.

@mixin buttonBase {
  font-family: $brandFont;
  font-size: 20px;
  font-weight: $semiBoldWeight;
  padding: 15px 80px;
  margin: 25px 0 0;
  border-radius: 100px;
  text-align: center;
  display: inline-block;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  @media(max-width: $break-small){
    display: block;
    width: 100%;
    padding: 15px 0;
  }
}

.btn-primary {
  @include buttonBase;
  border: 2px solid $lightOrange;
  background-color: transparent;
  color: $orange;
  &:hover {
    cursor: pointer;
    background-color: $orange;
    border: 2px solid $orange;
    color: $white;
  }
  &:focus{
    background-color: $orange;
    border: 2px solid $orange;
    color: $white;
    -webkit-box-shadow: 0 0 12px $teal;
    -moz-box-shadow: 0 0 12px $teal;
    box-shadow: 0 0 12px $teal;
    border-color: $teal;
    outline: 0 none;
    -webkit-tap-highlight-color: $orange;
  }
  &.small{
    padding: 15px 40px;
  }
}

.btn-secondary {
  @include buttonBase;
  border: 2px solid $white;
  background-color: transparent;
  color: $white;
  &:hover{
    cursor: pointer;
    background-color: $white;
    border: 2px solid $white;
    color: $orange;
  }
  &:focus{
    background-color: $white;
    border: 2px solid $white;
    color: $orange;
    -webkit-box-shadow: 0 0 12px $teal;
    -moz-box-shadow: 0 0 12px $teal;
    box-shadow: 0 0 12px $teal;
    border-color: $teal;
    outline: 0 none;
    -webkit-tap-highlight-color: $lightOrange;
  }
}